<div class="flex flex-row h-screen">
  <img src="loginPage.jpg" class="w-1/2 rounded-r-md shadow-sm" />
  <div
    class="w-full flex justify-center items-center bg-gradient-to-br from-yellow-200 via-pink-200 to-white flex-col"
  >
    <div class="bg-white flex flex-col text-2xl p-10 gap-5 rounded-md">
      <div class="flex flex-col items-center gap-2">
        <h1 class="text-6xl font-bold">Sign Up</h1>
        <h1 class="text-sm text-gray-500">
          Sign Up to start a special food journey
        </h1>
      </div>

      <div class="flex flex-col gap-2">
        <label>Email</label>
        <input
          type="text"
          class="p-3 border border-pink-300 focus:outline-none focus:border-pink-700"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label>Password</label>
        <input
          type="text"
          class="p-3 border focus:outline-none border-pink-300 focus:border-pink-700"
        />
      </div>
      <div class="flex flex-col gap-2">
        <label>Confirm Password</label>
        <input
          type="text"
          class="p-3 border focus:outline-none border-pink-300 focus:border-pink-700"
        />
      </div>
      <div class="flex justify-between">
        <a
          class="bg-pink-500 hover:bg-pink-600 text-white p-3 rounded-md"
          routerLink="/"
        >
          Login
        </a>
        <button
          class="bg-yellow-500 hover:bg-yellow-600 text-white p-3 rounded-md"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</div>
